name: build and deploy user service

on:
  push:
    branches: 
      - main

jobs:
  build-and-push-image:
    runs-on:
      - self-hosted
    env:
      IMAGE_TAG: ${{ secrets.DOCKER_HUB_USERNAME }}/${{ secrets.PROJECT }}:user-service-${{ github.run_number }}
      KUBE_SERVER:  "https://127.0.0.1:6443"
    steps:
      - name: install jq
        run: sudo apt install jq -y
    
      - name: get the secret from vault
        run: |
          echo "192.168.200.101 vault.thinhopsops.win" >> /etc/hosts
          
          SECRET=$(curl \
          --header "X-Vault-Token: ${{ secrets.VAULT_TOKEN}}" \
          --request GET \
          "https://vault.thinhopsops.win/v1/kv/data/shopnow/registry" | jq -r '.data.data')
          
          VAULT_REGISTRY_USERNAME=$( echo $SECRET | jq -r '.USERNAME')
          VAULT_REGISTRY_TOKEN=$( echo $SECRET | jq -r '.TOKEN')

          echo "::add-mask::$VAULT_REGISTRY_USERNAME"
          echo "::add-mask::$VAULT_REGISTRY_TOKEN"

          echo "REGISTRY_USERNAME=$VAULT_REGISTRY_USERNAME" >> $GITHUB_ENV
          echo "REGISTRY_TOKEN=$VAULT_REGISTRY_TOKEN" >> $GITHUB_ENV
    
    #  - name: clone code from repo to local
    #    uses: actions/checkout@v4
        
    #  - name: build image
    #     run: sudo nerdctl build -t ${{ env.IMAGE_TAG }} .

      - name: login to docker hub
        run: sudo nerdctl login -u ${{ env.REGISTRY_USERNAME}} -p ${{ env.REGISTRY_TOKEN }}

      #- name: push image to docker hub
        #run: sudo nerdctl push ${{ env.IMAGE_TAG }}

      # - name: deploy new image
      #   run: | 
      #     kubectl --server=${{ env.KUBE_SERVER }} \
      #     --insecure-skip-tls-verify=true \
      #     --token=${{ secrets.KUBE_TOKEN }} \
      #     set image deployment/shopnow-user-service-deployment shopnow-user-service=${{ env.IMAGE_TAG }} \
      #     -n shopnow
          
      # - name: clean up workspace
      #   run: |
      #     rm -rf ${{ github.workspace }}/*
      #     sudo nerdctl system prune -a -f
