name: build and deploy user service

on:
  push:
    branches: 
      - main

jobs:
  build-and-push-image:
    runs-on:
      - self-hosted
    env:
      IMAGE_TAG: ${{ secrets.DOCKER_HUB_USERNAME }}/${{ secrets.PROJECT }}:user-service-${{ github.run_number }}
      KUBE_SERVER:  "https://127.0.0.1:6443"
    steps:
      - name: clone code from repo to local
        uses: actions/checkout@v4
        
      - name: build image
        run: sudo nerdctl build -t ${{ env.IMAGE_TAG }} .

      - name: login to docker hub
        run: sudo nerdctl login -u ${{ secrets.DOCKER_HUB_USERNAME }} -p ${{ secrets.DOCKER_HUB_TOKEN }}

      - name: push image to docker hub
        run: sudo nerdctl push ${{ env.IMAGE_TAG }}

      - name: deploy new image
        run: | 
          kubectl --server=${{ env.KUBE_SERVER }} \
          --insecure-skip-tls-verify=true \
          --token=${{ secrets.KUBE_TOKEN }} \
          set image deployment/shopnow-user-service-deployment shopnow-user-service=${{ env.IMAGE_TAG }} \
          -n shopnow
          
      - name: clean up workspace
        run: |
          rm -rf ${{ github.workspace }}/*
          nerdctl system prune -a -f
